<h1>Angular Archwizard Test</h1>

<aw-wizard>
  <aw-wizard-step stepTitle="Start">
    <p>This wizard blabla</p>

    <button type="button" class="btn btn-primary float-end ms-1" awNextStep>
      Next
    </button>
    <button type="button" class="btn btn-primary float-end">
      Cancel
    </button>
  </aw-wizard-step>

  <aw-wizard-step stepTitle="Second step">
    <p>Blabla second step</p>

    <button type="button" class="btn btn-primary" awPreviousStep>
      Back
    </button>
    <button type="button" class="btn btn-primary float-end ms-1" awNextStep>
      Next
    </button>
    <button type="button" class="btn btn-primary float-end">
      Cancel
    </button>
  </aw-wizard-step>

  <aw-wizard-step stepTitle='Last step'>

    <button type="button" class="btn btn-primary" awPreviousStep>
      Back
    </button>
    <button type="button" class="btn btn-primary float-end ms-1">
      Finish
    </button>
    <button type="button" class="btn btn-primary float-end">
      Cancel
    </button>
  </aw-wizard-step>

</aw-wizard>
